@import 'bootstrap/scss/bootstrap';
@import './variables';

body, html {
    text-align: center;
    background-color: black;
    background-image: url('/fm-clarity-background.jpg');
    background-size: auto cover;
    background-repeat: no-repeat;
    color: $primary-font-color;
}

.fm-header {
    padding-top: 50px;

    &__logo {
        min-height: 52px;
        width: 212px;
    }
}